### Que.1 For a given datasets do proper scaling on that.

datasets: crime_data.csv

          EastWest.csv
          
          Framingham.csv
          
          Grocery.csv
          
          Universities.csv

In [118]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [119]:
df = pd.read_csv('crime_data.csv')
df.head()

   Unnamed: 0  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50 non-null     object
 1   Murder      50 non-null     float64
 2   Assault     50 non-null     int64
 3   UrbanPop    50 non-null     int64
 4   Rape        50 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 2.1+ KB

In [121]:
df['Unnamed: 0'].unique

<bound method Series.unique of 0            Alabama
1             Alaska
2            Arizona
3           Arkansas
4         California
5           Colorado
6        Connecticut
7           Delaware
8            Florida
9            Georgia
10            Hawaii
11             Idaho
12          Illinois
13           Indiana
14              Iowa
15            Kansas
16          Kentucky
17         Louisiana
18             Maine
19          Maryland
20     Massachusetts
21          Michigan
22         Minnesota
23       Mississippi
24          Missouri
25           Montana
26          Nebraska
27            Nevada
28     New Hampshire
29        New Jersey
30        New Mexico
31          New York
32    North Carolina
33      North Dakota
34              Ohio
35          Oklahoma
36            Oregon
37      Pennsylvania
38      Rhode Island
39    South Carolina
40      South Dakota
41         Tennessee
42             Texas
43              Utah
44           Vermont
45          Virginia
46        Washington
47     West Virginia
48         Wisconsin
49           Wyoming
Name: Unnamed: 0, dtype: object>

In [122]:
df.drop('Unnamed: 0', axis = 1, inplace=True)

In [123]:
df1 = df.columns

def scaling():
    for col in df1:
        from sklearn.preprocessing import StandardScaler
        scaler = StandardScaler()
        df[col] = scaler.fit_transform(df[[col]])

In [124]:
scaling()

In [125]:
df

      Murder   Assault  UrbanPop      Rape
0   1.255179  0.790787 -0.526195 -0.003451
1   0.513019  1.118060 -1.224067  2.509424
2   0.072361  1.493817  1.009122  1.053466
3   0.234708  0.233212 -1.084492 -0.186794
4   0.281093  1.275635  1.776781  2.088814
5   0.025976  0.402909  0.869548  1.883901
6  -1.040880 -0.736484  0.799761 -1.092723
7  -0.437875  0.815030  0.450825 -0.585834
8   1.765415  1.990786  1.009122  1.150530
9   2.229265  0.487757 -0.386621  0.492653
10 -0.577030 -1.512241  1.218484 -0.111300
11 -1.203228 -0.615272 -0.805344 -0.758392
12  0.605789  0.948363  1.218484  0.298525
13 -0.136372 -0.700121 -0.037685 -0.025021
14 -1.295998 -1.391029 -0.595982 -1.071153
15 -0.414682 -0.675878  0.032102 -0.348567
16  0.443441 -0.748605 -0.944918 -0.531910
17  1.765415  0.948363  0.032102  0.104398
18 -1.319191 -1.063757 -1.014705 -1.448624
19  0.814521  1.566544  0.101889  0.708350
20 -0.785763 -0.263757  1.358058 -0.531910
21  1.000062  1.021090  0.590399  1.495646
22 -1.180036 -1.197090  0.032102 -0.682898
23  1.927762  1.069575 -1.503215 -0.445631
24  0.281093  0.087757  0.311251  0.751490
25 -0.414682 -0.748605 -0.875131 -0.521125
26 -0.808955 -0.833454 -0.247047 -0.510340
27  1.023254  0.984726  1.078909  2.671197
28 -1.319191 -1.378908 -0.665769 -1.265281
29 -0.089987 -0.142545  1.637207 -0.262288
30  0.837714  1.384726  0.311251  1.172100
31  0.768136  1.008969  1.427845  0.525008
32  1.208794  2.015028 -1.433428 -0.553480
33 -1.620693 -1.524362 -1.503215 -1.502548
34 -0.113180 -0.615272  0.660186  0.018119
35 -0.275527 -0.239515  0.171676 -0.132870
36 -0.669800 -0.142545  0.101889  0.870123
37 -0.345105 -0.784969  0.450825 -0.682898
38 -1.017688  0.039273  1.497632 -1.394700
39  1.533490  1.311999 -1.224067  0.136752
40 -0.924918 -1.027393 -1.433428 -0.909380
41  1.255179  0.208970 -0.456408  0.611287
42  1.139217  0.366545  1.009122  0.460298
43 -1.064073 -0.615272  1.009122  0.179892
44 -1.295998 -1.487999 -2.340661 -1.081938
45  0.165131 -0.178909 -0.177259 -0.057376
46 -0.878533 -0.312242  0.520612  0.535792
47 -0.484260 -1.087999 -1.852151 -1.286851
48 -1.203228 -1.427393  0.032102 -1.125078
49 -0.229142 -0.118303 -0.386621 -0.607404